.App {
  text-align: center;
  display: flex;
}

html,
body{
  margin: 0;
  padding: 0;
}

.Side-Section {
  width: 30%;
}
.f-container{
  width: 70%;
  height: 100vh; /* for shorter content */
  display: flex;
  flex-direction: column;
    
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-direction: column;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eee;
  flex: 1;
  
  /*ie10*/
  -ms-flex: 1 1 auto; /*needs both shrink and grow*/
}

.main p {
  max-width: 80%;
}

header,
footer{
  background-color: #ccc;
  flex-basis: 50px;
  
  /*ie10*/
  -ms-flex-preferred-size: 50px;
  
  /*center align of links*/
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-around; /*or space-between*/
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-align: center; /*vertical*/
  -ms-flex-line-pack: distribute; /*or justify*/
}

footer {
  margin-top: auto; 
}

/* fixed header and footer with scrollable main section */
.fixed-hf .main{
  overflow-y: auto;
}